.footer{
    background:white url("D:/UIDeveloper/HTMLCode/UIDEV23/HotelManagement/Asset/hari.jpeg");
    height: 200px;
    width:100%;
    border:0px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footerb{
    height: 180px;
    width:300px;
    border:0px solid blue;
    float: left;
    color: white;
    text-align: center;
    
    
}
